@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollar::-webkit-scrollbar {
    height: 8px !important;
    width: 8px;
}

.custom-scrollar::-webkit-scrollbar-thumb{
    background-color: #ffffff3b;
}